@import url('https://fonts.googleapis.com/css?family=El+Messiri');
body {
    font-family: 'El Messiri', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    direction: rtl;
}
main {
    display: flex;
    flex-wrap: wrap;
}
main>section {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
#header {
    background: #353637;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    border-bottom: 3px solid #32a0c2;
    padding: 0 120px;
}
#branding h1 {
    font-size: 28px;
}
nav > ul {
    margin-top: 0;
    list-style-type: none;
}
#header a {
    color: #ffffff;
    text-decoration: none;
}
nav > ul > li {
    float: right;
    margin-left: 15px;
}
li a {
    text-decoration: none;
    color: white;
}
#header .highlight, #header .current a {
    color: #32a0c2;
}
/* showcase & newsletter */
#showcase {
    min-height: 400px;
    background: url(/images/image.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}
#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p {
    font-size: 20px;
}
#newsletter {
    padding: 15px 120px;
    color: #ffffff;
    background: #353637;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#newsletter h1 {
    float: right;
}
#newsletter form {
    float: left;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button {
    height: 38px;
    background: #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
}
/* boxes & footer */
#boxes {
    margin-top: 20px;
    padding: 60px 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#boxes .box {
    text-align: center;
    margin-left: 10px;
}
@media (max-width: 1020px) {
    #boxes {
        flex-direction: column;
    }
}
#footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #32a0c2;
    text-align: center;
}


#slider 
{
    position: relative;
    margin: auto;
    margin-top: 20px;    
    height: 500px;    
    border: 5px black solid;
    overflow: hidden;
}

#wrapper 
{
    width: 400%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

#wrapper .content 
{
    float: right;
    width: 25%;
    height: 100%;
}

#wrapper .content img 
{
    width: 100%;
}

#navLinks 
{
    text-align: center;
    position: absolute;
    top: 0;
    right: 45%; 
}

#navLinks ul 
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
}

#navLinks ul li 
{
    float: right;
    text-align: center;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #ccc;
    list-style: none;
    border: black 5px solid;
    border-radius: 50%;
}
   
#navLinks ul li:hover 
{
    background-color: #ff0;
}
   
#navLinks ul li.active 
{
    background-color: #333;
}

#navLinks ul li.active:hover 
{
    background-color: #484848;
}

   